* {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 4em;
}

progress {
  width: 60vw;
  height: 200px;
  margin: 150px auto;
  display: block;
  border: 10px solid #0f4c75;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: transparent;
  padding: 1px;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
  border-radius: 100px;
}

.fair::-webkit-progress-value {
  background-color: #fd8e3c;
}

.good::-webkit-progress-value {
  background-color: #40b250;
}

.low::-webkit-progress-value {
  background-color: #b1161c;
}

#battery-level {
  position: absolute;
  top: 390px;
  left: 38%;
  font-size: 4em;
}
