* {
  box-sizing: border-box;
}

#app {
  text-align: center;
}

#month {
  margin-top: 3rem;
}

#month-table {
  margin: 0 auto;
  margin-top: 2rem;
}

#month-table th,
#month-table td {
  padding: 0.8rem;
}

#month-table #current-date {
  border: 10px solid rgb(0, 102, 255);
  border-radius: 50%;
}

.holiday {
  color: red;
}
